<div id="search">
	<form>
		<input class="text" type="text" name="q" value="<%= params[:q] %>"/>
		<input type="submit" value="Search" />
	</form>
</div>

<h2>Recent Posts</h2>

<%= will_paginate @posts %>

<div class="posts">
	<% @posts.each_with_index do |post, index| %>
		<% if index > 0 %><hr/><% end %>
		<div class="post">
			<div>
				<h1><a href="/posts/<%= post.id %>"><%= (post.title || post.id) %></a></h1>
				<p>created at <%= post.created_at %></p>
				<p><%= rc h(post.body) %></p>
			</div>
			<ul>
				<li><a href="<%= url_for(:post, :id=>post.id) %>#comments">comments</a></li>
				<li><a href="<%= url_for(:post, :id=>post.id) %>">permalink</a></li>
			</ul>
		</div>
	<% end %>
</div>